<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
		<key>DisabledAML</key>
		<array>
			<string>DSDT_work.aml</string>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename HDAS to HDEF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>AddPNLF</key>
				<false/>
				<key>FixHDA</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Debug</key>
		<false/>
		<key>#Timeout</key>
		<integer>0</integer>
		<key>Arguments</key>
		<string>agdpmod=vit9696</string>
		<key>XMPDetection</key>
		<integer>1</integer>
		<key>#DefaultVolume</key>
		<string>Preboot</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>Speed</key>
			<integer>8</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
		<key>HWPEnable</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>17</integer>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x191b0000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelXCPM</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x01</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>Board-ID</key>
		<string>Mac-473D31EABEB93F9B</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>MacBookPro13,1</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x9</string>
		<key>BiosVersion</key>
		<string>MBP131.88Z.F000.B00.2010062247</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C17638300GUHMHK1F</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro13,1</string>
		<key>SmUUID</key>
		<string>5E4D8295-6648-4CF3-B35F-BA413DFEF41F</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>429.40.5.0.0</string>
		<key>SerialNumber</key>
		<string>C17SF0RDGVC1</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>10/06/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>4275159040</integer>
				<key>Comment</key>
				<string>Haswell: SB_RCBA is a 0x4 page memory region, containing SPI_BASE at 0x3800 (SPI_BASE_ADDRESS)</string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4278190080</integer>
				<key>Comment</key>
				<string>Generic: PCI root is a 0x1000 page memory region used by some firmwares</string>
				<key>Enabled</key>
				<false/>
			</dict>
		</array>
		<key>FuzzyMatch</key>
		<true/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>DisableIoMapper</key>
		<true/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>XhciPortLimit</key>
		<true/>
	</dict>
</dict>
</plist>
